<section class="footer  ">
    <div class="container  mb-3 p-3">
        <div class="row">
            <div class="col-md-4">
                <div class="locatin d-flex justify-content-center align-items-center flex-column">
                    <h3 class="fw-bold">LOCATION</h3>
                    <p>2215 John Daniel Drive  </p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="arroud-web d-flex justify-content-center align-items-center flex-column">
                    <h3 class="fw-bold">LOCATION</h3>
                    <ul class="arroud-web-links d-flex justify-content-center align-items-center flex-row ">
                    <li> <i class="fa-brands fa-facebook"></i></li>
                    <li> <i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                    <li><i class="fa-solid fa-globe"></i></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-freeLancer d-flex justify-content-center align-items-center flex-column">
                <h3 class="fw-bold">ABOUT FREELANCER</h3>
                <p class=" text-center">Freelance is a free to use, licensed Bootstrap theme created by Akram</p>
            </div>
        </div>
       
        </div>
    </div>

  

</section> 
 <div class="copy-right w-100   p-3  text-white ">
    <p class="text-center my-3">Copyright © Your Website 2021</p>
</div>