<div class="main container-fluid  d-flex justify-content-center align-items-center flex-column  my-5">
    <div  class="main-about-holder  text-center pt-4 ">
        <h2  class="text-uppercase mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
        <div  class="d-flex align-items-center justify-content-center mb-3 ">
            <div class="line  "></div>
                <i  class="fa-solid fa-star mx-4"></i>
            <div  class="line"></div>
        </div>
    </div>
<div class="container">
    <div class="row g-5">
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port1.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port2.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port3.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port1.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port2.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="portfolio-img  position-relative">
                <img  class="w-100 rounded-3" src="assets/images/port3.png" alt="">
                <div class="portfolio-overlay position-absolute w-100 h-100  d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
            </div> 
        </div>


    </div>
</div>
</div>